.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial;
}

input{
  padding : 10px;
  width: 70%;
  margin-right: 5px;
}

button{
  padding : 10px;
  cursor : pointer;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  background : #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;;
}

li button{
  margin-left: 10px;
}